{% extends "base.html" %}
{% block title %}
    <title>{{ title }}</title>
{% endblock title %}
{% block content %}
{% if video %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
<!--                <img src="/static/thumbnail/{{video.id}}" class="img-fluid rounded" alt="Video Image">-->
                <video controls class="img-fluid rounded">
                    <source src="/static/video/{{video.id}}" type="video/mp4">
                </video>
                <audio controls>
                    <source src="/static/audio/{{video.id}}" type="audio/mpeg">
                </audio>
            </div>
            <div class="col-md-6">
                <h2 class="fw-bold">{{video.title}}</h2>
                <p class="text-muted">status: {{video.status}}</p>
                <p class="mt-4">description: {{video.description[0:350]}}...</p>
                <form action="/video/delete/{{video.id}}" method="POST">
                    <td><button type="submit" class="btn btn-danger">Delete</button></td>
                </form>
            </div>
        </div>
        <div class="mt-5">
            <p class="text-muted">text: {{video.text}}</p>
        </div>
    </div>
{% endif %}
{% endblock content %}
